<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

  <ul>
    <% @doses.each do |dose| %>
     <li>
      <%= dose.description %> - <%= dose.ingredient.name %>
      <a><i id="sweet-alert-demo" class="far fa-trash-alt"></i></a>
      <%= link_to "", cocktail_dose_path(dose), method: :delete, id: "delete-link" %>
      </li>
    <% end %>
  </ul>

  <%= link_to "add dose", new_cocktail_dose_path(@cocktail.id), class: 'btn btn-primary' %>
</div>



